@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFCF37;
    --cor-terciaria: #37FF57;
    --cor-quarternaria: #FF3737;
    --cor-texto: #141A1D;
    --cor-fundo: #1D1714;
    --cor-hover: #ce9e00;

    --fonte: "Poppins", sans-serif;
}

header {
    height: 142px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12% 0 12%;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    font-family: var(--fonte);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0;
    padding-bottom: 50px;
}

.cabecalho__menu {
    display: flex;
    gap: 40px;
}

.cabecalho__menu__link {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}

.cabecalho__imagens {
    width: 1297.88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 82px;
    height: 82px;
    padding: 0 0 0 22%;
}

.carrinho {
    width: 27px;
    height: 27px;
}

.imagem {
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    width: 100%;
}

.titulo {
    font-weight: 400;
}

.discos {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.discos__apresentacao {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.discos__apresentacao__conteudo {
    position: relative;
}

.discos__apresentacao__conteudo:hover {
    color: var(--cor-hover);
    opacity: 0.75;
}

.quadrado {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--cor-texto);
    font-size: 10px;
    font-weight: 400px;
    top: 10px;
    left: 305px;
    gap: 10px;
}

.quadrado__novo {
    background-color: var(--cor-terciaria);
    width: 75px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado__promocao {
    background-color: var(--cor-secundaria);
    width: 75px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discos__nome {
    font-size: 18px;
    font-weight: 500;
}

.discos__preco {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    align-items: baseline;
    gap: 10px;
}

.discos__preco__atual {
    font-size: 15px;
}

.discos__preco__desconto {
    font-size: 13px;
}

.footer {
    height: 112.5px;
    border-top: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__newsletter {
    padding-left: 15%;
    font-size: 18px;
    font-weight: 400;
}

.footer__inscricao {
    padding: 0px 222px 0px 0px;
    gap: 9px;
}

.footer__inscricao > input{
    width: 232;
    height: 37;
    border: solid;
    border-width: 1px;
    padding: 5px;
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    font-size: 18px;
    font-weight: 400;
    outline: none;
}

.footer__inscricao__inscrever {
    width: 145px;
    height: 37px;
    border: solid;
    border-width: 1px;
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo);
}

.footer__inscricao__inscrever:hover {
    background-color: var(--cor-hover);
}